body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f481;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.navbar.fixed-top {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;

footer {
        margin-top: auto;
}}

.login-container {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 30px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    max-width: 500px; 
    width: 80%; 
    margin: auto; 
    text-align: center;
}

h1 {
    text-align: center;
}

form {
    text-align: center;
}

label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
    text-align: left; 
}

input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #cccccc75;
    border-radius: 3px;
}

button {
    width: 50%;
    background-color: #78db07d5;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #0056b3;
}


footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #343a40; /* Cor de fundo do rodapé */
    color: #fff; /* Cor do texto do rodapé */
    padding: 10px;
    text-align: center;
}

footer {
    color: white;
}