/* Estilos para centralizar a barra de pesquisa */
.search-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 15vh; 
    text-align: center;
}

/* Estilos para o campo de pesquisa */
input[type="text"] {
    padding: 10px;
    width: 300px;
    border: center;
    border-radius: 10px;
    color: rgb(14, 10, 10); /* Cor do texto vermelha */
    justify-content: center;
    align-items: center;
}

button {
    padding: 10px 15px;
    background-color: rgb(39, 175, 96); /* Cor de fundo vermelha */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.bg-custom-sidebar {
    background-color: #ffffff; /* Substitua pela cor desejada (laranja neste exemplo) */
    color: rgb(237, 240, 241);}

footer {
    
   
    position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        background-color: #333; /* Cor de fundo do footer */
        color: white; /* Cor do texto do footer */
        
       
    padding: 10px; /* Espaçamento interno do footer */
    }
    