html,
body {
    height: 100%;
    display: flex;
    flex-direction: column;
    color:rgb(241, 105, 41);
    line-height: 1.5;
}
.content{
  max-width: 800px; /* Limita a largura do conteúdo para melhor leitura */
      margin: 0 auto; /* Centraliza o conteúdo na página */
      padding: 20px;
    }


  footer {
    color: rgb(255, 255, 255);
  }
  @media (min-width: 576px) { /* Tablet Ou PC */
      .navbar-brand {
      font-size: 24px;
    }
    .display-3 {
      font-size: 36px;
    }
  }
    @media (max-width: 576px) { /* Smart Phone */
      .navbar-brand {
        font-size: 18px;
      }
      .display-3 {
        font-size: 24px;
      }
    }
  
  #header {
    background-position: 75% 75%;
    color:rgb(10, 6, 3);
    height: 90%;

  }
  #Apresentacao
  {
    background: url('img/shop.jpg') no-repeat;
    background-size: cover;
    background-position: 75% 60%;

  }

#cabecalho {
   color:rgb(155, 22, 22);
   height: 90%;
}

  .hexagon {
      width: 170px;
      height: 170px;
      background-color: #3498db; /* Cor de fundo */
      clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); /* Sombra */
  }
  .Home-item {
    color: rgb(255, 8, 0);
  }
  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: auto auto auto; 
    gap: 10px; 
  }
  .grid-item {
    padding: 20px;
    background-color: white;
  }

#section1 {
    background: url('img/shop.jpg') no-repeat;
    background-position: 75% 75%;
     color:rgb(177, 85, 32);
     height: 70%;
     display: flex;
     align-items: center;

     #conteudoSection1 {
      display: flex;
      align-items: center;

    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-amd" viewBox="0 0 16 16"
     <path d="m.334 0 4.358 4.359h7.15v7.15l4.358 4.358V0H.334ZM.2 9.72l4.487-4.488v6.281h6.28L6.48 16H.2V9.72Z"/>
</svg>
     }}
     #carrosel {
      height: 60%
    
      .carousel {
        height: 100%
        overflow: hidden;
      }
      .carousel-inner {
       height: 100%
      }
     }
        .carousel-item {
          height: 100%
        }
    }
    


     .ativa-bazar {
      font-size: 3em; 
      font-weight: bold;
      text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4); 
      color: #f07a0c;  
    }

   
    .frase-destacada {
      font-size: 1.2em; 
      font-weight: bold;
      color: #f07a0c; 
    }

    
    .custom-button {
      margin-top: 30px;
    }


      
    
    }
    }