@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=League+Gothic&family=Libre+Franklin:wght@700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

:root {
    --cor-titulo-zago-1: #fff;
    --cor-titulo-zag--2: red;/*#FF3131;*/
    --cor-header: #4270b4;
    --cor-fundo-site: #201F1F;
    --cor-section-pesquisa: #353434;
    --cor-sombra: rgba(0, 0, 0, 0.74);
    --botao-pesquisa: #4270b4;
    --botao-pesquisa-hover: #245eb4;
    --transparente: #ffffff00;
    --cor-menu: #363535;
    --cor-menu-listrado: #201F1F;
    --cor-fundo-menu-hamburguer-amostra: #242830;
    --cor-body : #161616;
    --cor-funcao-principal: #38B6FF;
    --cor-fundo-div-produto: #1b1b1b;
    --cor-borda-produto: #292929;
}

body.body {
    background-color: var(--cor-body);
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: hidden;
}

a.text-decoration-none:hover {
    text-decoration: none;
}

/* Header */

header {
    background-color: var(--cor-header);
    height: 100px;
    position: relative;
    display: flex;
}

header.header-principal {
    margin-top: -30px;
}

header > div#zago-planner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 320px;
}

header > div#zago-planner a {
    display: flex;
    justify-content: space-between;
}

h1#zago {
    color: var(--cor-titulo-zago-1);
    font-family: 'Libre Franklin', sans-serif;
    font-size: 2.3em;
}

h1#planner {
    color: var(--cor-titulo-zag--2);
    font-family: 'Libre Franklin', sans-serif;
    font-size: 2.3em;
}

div#div-usuario {
    width: 50px;
    height: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    right: 20px;
}

div#div-usuario img {
    width: 50px;
    filter: invert(100%);
    transition: all ease .3s;
}

div#div-usuario img:hover
{
    width: 55px;
}

.menu-login {
    display: none;
    position: absolute;
    top: 90px;
    right: 0px;
    width: 100px;
    height: 34px;
    background-color: var(--cor-body);
    border: 2px solid var(--cor-titulo-zago-1);
    justify-content: space-around;
}

.menu-login ul {
    list-style: none;
    width: 100%;
}

.menu-login ul li {
    text-align: center;
    transition: all ease 0.3s;
}

.menu-login ul li a {
    font-family: 'League Gothic', sans-serif;
    color: var(--cor-titulo-zago-1);
    font-size: 20px;
}

.menu-login ul li:hover {
    cursor: pointer;
    background: var(--cor-menu);
}

/* Menu */

.nav-menu {
    margin-left: 30px;
    margin-top: 30px;
    padding: 0px;
}

.margin-top-25px {
    margin-top: 25px;
}

.menu-simbolo:hover {
    cursor: pointer;
}

.nav-menu .menu-simbolo {
    position: absolute;
    z-index: 999;
    width: 35px;
    height: 35px;
    margin-top: 0px;
}

.nav-menu .menu-simbolo span {
    display: block;
    width: 35px;
    height: 5px;
    margin-bottom: 10px;
    background-color: var(--cor-titulo-zago-1);
    border-radius: 3px;
    transition: all ease 0.2s;
}

#falsa-checkbox {
    display: none;
}

input#falsa-checkbox:checked ~ .menu-simbolo span:nth-child(1) {
    transform-origin: 0% 0%;
    transform: rotate(45deg) scaleX(1.25);
}

input#falsa-checkbox:checked ~ .menu-simbolo span:nth-child(2) {
    background-color: var(--transparente);
}

input#falsa-checkbox:checked ~ .menu-simbolo span:nth-child(3) {
    transform-origin: 0% 100%;
    transform: rotate(-45deg) scaleX(1.25);
}

.nav-menu ul {
    padding-top: 30px;
    position: absolute;
    z-index: 998;
    left: 0;
    top: 0;
    width: 250px;
    background-color: var(--cor-fundo-menu-hamburguer-amostra);
    height: 100vh;
    padding-top: 10px;
    margin-left: -250px;
    transition: all ease .2s;
}

input#falsa-checkbox:checked ~ ul {
    margin-left: 0;
}

.nav-menu ul li {
    padding: 10px  30px;
}

.nav-menu ul li a {
    text-decoration: none;
    color: var(--cor-titulo-zago-1);
    transition: all ease 0.3s;
    font-size: 30px;
    font-family: 'League Gothic', sans-serif;
}

.nav-menu ul li a:hover {
    text-decoration: none;
    color: #d6d5d5;
    font-size: 32px;
}

ul.list-group li.listrado {
    background-color: var(--cor-menu-listrado);
}

#cor-menu {
    background-color: var(--cor-fundo-menu-hamburguer-amostra);
    padding: 33px 0px;
}

.resto {
    background-color: var(--cor-menu);
    height: 100%;
    width: 100%;
}

ul.list-group li.listrado2 {
    background-color: var(--cor-menu);
}

/* Main */

main {
    max-width: 65vw;
    min-width: 900px;
    background-color: var(--cor-fundo-site);
    margin: 0 auto;
    padding-bottom: 30px;
    height: calc(100vh - 100px);
}

main.main-flex {
    display: flex;
}

h1.funcoes {
    color: var(--cor-titulo-zago-1);
    font-family: 'League Gothic', sans-serif;
    font-weight: 300;
    height: auto;
}

div#container1 {
    width: 65%;
}

section h1 {
    text-align: center;
    font-size: 4.5vh;
}

section#criar-projeto {
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

section#criar-projeto div {
    width: 80%;
    height: 17vh;
    margin: 0 auto;
    font-size: 17vh;
    text-align: center;
    border-radius: 30px;
    transition: all ease 0.3s;
}

a.criar-projeto-link {
    text-decoration: none;
    color: black;
    font-size: 17vh;
}

a.criar-projeto-link:hover {
    text-decoration: none;
    color: black;
    font-size: 20vh;
    transition: all ease 0.3s;
}

section#criar-projeto div:hover {
    width: 85%;
    height: 20vh;
    margin: 0 auto;
    cursor: pointer;
    border-radius: 33px;
}

section#criar-projeto h1 {
    margin-top: 30px;
}

div.div-funcao {
    background-color: var(--cor-funcao-principal);
    box-shadow: 5px 5px 10px var(--cor-sombra);
}

div#container3 {
    display: flex;
    justify-content: space-around;
    width: 90%;
    margin: 0 auto;
    height: 60%;
}

div#container3 section {
    width: 45%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

div#container3 section div {
    width: 90%;
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0 auto;
    border-radius: 30px;
    transition: all ease 0.3s;
}

div#container3 section div:hover {
    cursor: pointer;
    width: 95%;
    height: 42vh;
    border-radius: 33px;
}

div#container2 {
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

div#container2 section {
    width: 90%;
    height: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
}

section#produtos-zago div {
    width: 85%;
    height: 75%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0 auto;
    border-radius: 30px;
    transition: all ease 0.3s;
}

div.div-funcao a {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

div.div-funcao a img {
    margin: 0 auto;
    width: 80%;
}

section#produtos-zago div:hover {
    width: 93.5%;
    height: 80%;
    cursor: pointer;
    border-radius: 33px;
}

/* Outras Páginas */

h1#titulo-pagina {
    font-size: 40px;
    color: var(--cor-titulo-zago-1);
    text-align: center;
    padding-top: 20px;
    width: 100%;
}

div#pesquisa {
    display: flex;
    position: absolute;
    left: 50%;
    top: 40%;
    background-color: var(--botao-pesquisa);
    transform: translate(-50%, -50%);
    width: 400px;
    height: 100px;
    justify-content: space-between;
    border-radius: 20px;
    padding: 30px;
    box-shadow: 5px 5px 10px var(--cor-sombra);
}

div#pesquisa input#texto-pesquisa {
    background-color: var(--cor-fundo-site);
    border-radius: 15px;
    font-size: 14px;
    width: 300px;
    height: 30px;
    padding: 5px;
    color: var(--cor-titulo-zago-1);
}

div#botao-pesquisa {
    position: relative;
    width: 20px;
    height: 20px;
}

button#pesquisar {
    background-color: var(--botao-pesquisa);
    color: var(--cor-titulo-zago-1);
    width: 35px;
    height: 35px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 20px;
    box-shadow: 3px 3px 7px var(--cor-sombra);
    margin: 0 auto;
    position: absolute;
    left: 50%;
    top: 50%;
    transition: all ease 0.2s;
    transform: translate(-50%, -40%);
}

section.resultado-pesquisa {
    background-color: var(--cor-section-pesquisa);
    width: 600px;
    min-height: 100px;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 30px;
    box-shadow: 5px 5px 10px var(--cor-sombra);
}

section.resultado-pesquisa h2 {
    color: var(--cor-titulo-zago-1);
    font-weight: bold;
    text-align: center;
    margin: 10px;
}

label#resultado {
    margin: 0px 10%;
    width: 80%;
    color: var(--cor-titulo-zago-1);
    margin-bottom: 30px;
}

button#pesquisar:hover
{
    background-color: var(--botao-pesquisa-hover);
    cursor: pointer;
    width: 40px;
    height: 40px;
    font-size: 16px;
}

.nav-pesquisa nav {
    display: flex;
    width: 100%;
    justify-content: space-around;
    background-color: rgb(68, 68, 68);
}

.nav-pesquisa nav > a {
    margin-top: 40px;
}

.nav-pesquisa nav > form {
    margin-top: 40px;
}

.nav-pesquisa ul {
    list-style: none;
}

main.main-pesquisa div#pesquisa {
    display: none;
}

main.main-pesquisa {
    color: white;
}

section.conteudo {
    padding: 10px 20px;
    color: var(--cor-titulo-zago-1);
    text-indent: 10px;
    text-align: justify;
}

div#login {
    display: flex;
    flex-direction: column;
    width: 500px;
    color: var(--cor-titulo-zago-1);
    text-align: center;
    border: 2px solid var(--cor-titulo-zago-1);
    border-radius: 20px;
    padding-bottom: 20px;
    height: 200px;
    margin: 0 auto;
    justify-content: space-around;
    transform: translateY(50%);
}

div#login hr {
    width: 90%;
    margin: 0 auto;
}

div#login p {
    margin-bottom: 0;
}

div#login a {
    width: 300px;
    margin: 0 auto;
    border-radius: 10px;
    color: var(--cor-titulo-zago-1);
    padding: 5px 0px;
    border-right: 1px solid rgb(0, 0, 0);
    border-bottom: 2px solid rgb(0, 0, 0);
}

a#facebook {
    background-color: #395692;
}

a#google {
    background-color: #E94235;
}

a#google:hover {
    background-color: #af3229;
    text-decoration: none;
}

a#facebook:hover {
    background-color: #25385f;
    text-decoration: none;
}

footer.footer-pesquisa {
    position: absolute;
    width: 100%;
    bottom: 0px;
    left: 50%;
    transform: translate(-50%);
    margin: 0 auto;
    color: white;
    background-color: #9C9C9C;
}

footer.footer-pesquisa div {
    text-align: center;
    width: 100%;
}

#section1 {
    background-color: #00E6FF;
}

#section2 {
    background-color: #F5F4DC;
}

#section3 {
    background-color: #5097A0;
}

#section4 {
    background-color: #8B898B;
}

#cabecalho {
    color: white;
}

main.main-pesquisa section.resultados div {
    justify-content: center;
    display: flex;
}

main.main-pesquisa section.secao-menu {
    height: 20vh;
}

iframe#iframe-pesquisa-atividade {
    width: 80%;
    height: 80%;
    margin-left: 10%
}

#editado-recentemente {
    color: var(--cor-titulo-zago-1);
}

#relatorio-suporte {
    .container {
        background: rgba(0,0,0,0.5);
        color: white;
    }
}

main#main-login {
    background-image: url('https://images.pexels.com/photos/447592/pexels-photo-447592.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-size: cover;
    background-repeat: no-repeat;
}

div#div-login {
    background-color: var(--cor-sombra);
    height: 100vh;
}

section#secao-produtos {
    margin-top: 50px;
}

div.linha-produto {
    margin-bottom: 30px;
}

div.div-produto {
    height: 320px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    box-shadow: 5px 5px 10px var(--cor-sombra);
    border: 1px solid var(--cor-borda-produto);
    border-radius: 20px;
    background-color: var(--cor-fundo-div-produto);
    width: 25%;
}

h2.nome-produto {
    color: var(--cor-titulo-zago-1);
    font-size: 22px;
}

img.imagem-produto {
    width: 90%;
    height: 150px;
    border-radius: 20px;
    image-resolution: 200%;
}

a.botao-produto, button.botao-produto {
    border-radius: 10px;
    padding: 5px;
    width: 90%;
    margin: 0 auto;
}

a.botao-produto {
    border-right: 3px solid var(--cor-body);
    border-bottom: 3px solid var(--cor-body);
}

button.botao-produto:hover {
    padding: 6px;
    width: 92%;
}

a.botao-produto:hover {
    padding: 6px;
    width: 95%;
}

.bd-radius {
    border-radius: 15px;
}

@media (max-width: 900px) {
    main {
        width: 80%;
        min-width: 700px;
        height: 100vh;
        padding-bottom: 0px;
    }

    main.main-flex {
        display: flex;
        flex-direction: column;
        height: calc(100vh - 100px);
        justify-content: space-between;
    }

    div#container1 h1, div#container2 h1 {
        font-size: 30px;

    }

    div#container1, div#container2 {
        width: 90%;
        margin: 0 auto;
    }

    div#container1 {
        height: 65%;
        justify-content: space-between;
    }

    section#criar-projeto {
        justify-content: space-around;
        height: 40%;
    }

    section#criar-projeto div {
        height: 60%;
        font-size: 120px;
        transition: all ease 0.3s;
    }

    section#criar-projeto div:hover {
        height: 65%;
        font-size: 128px;
    }

    section#criar-projeto h1 {
        height: 20px;
        margin-top: 15px;
    }

    div#container3 {
        height: 60%;
    }

    div#container3 section {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    div#container3 section div {
        height: 70%;
        transition: all ease 0.3s;
    }

    div#container3 section div:hover {
        height: 75%;
    }

    div#container2 {
        height: 35%;
    }

    div#container2 section {
        display: flex;
        flex-direction: column-reverse;
    }

    section#produtos-zago a img {
        width: 170px;
        height: auto;
    }

    div.row {
        display: flex;
        flex-direction: column;
    }

    div.div-produto {
        margin-bottom: 30px;
        width: 60%;
    }

    body#body-produtos {
        overflow-y: visible;
        height: 100%;
    }

    main#main-produtos {
        height: 100%;
        padding-bottom: 10px;
    }

}

@media (max-width: 600px)
{
    body {
        overflow-y: visible;
    }
}

@media (max-width: 700px) {

    h1#titulo-pagina {
        font-size: 8vw;
    }

    main {
        flex-direction: column;
        width: 100%;
        min-width: 100%;
        height: 100vh;
    }

    section.resultado-pesquisa {
        width: 80%;
    }

}

@media (max-width: 541px)
{
    section#produtos-zago a img {
        height: 90%;
        width: auto;
    }

    /* Página Outros Projetos */

    html#html-outros-projetos {
        overflow-x: hidden;
    }

    body#outros-projetos-body {
        position: inherit;
        overflow-y: visible;
        overflow-x: hidden;
        height: auto;
    }

    body#outros-projetos-body main {
        height: auto;
    }

    body#outros-projetos-body h2 {
        font-size: 7vw;
    }

    body#outros-projetos-body h3 {
        font-size: 6vw;
    }

    body#outros-projetos-body p {
        font-size: 4vw;
    }

    body#suporte-body {
        overflow-y: visible;
    }

    main {
        height: 100%;
    }

    #relatorio-suporte h2 {
        font-size: 5vw;
    }

    #relatorio-suporte h3 {
        font-size: 4vw;
    }
    #relatorio-suporte input {
        font-size: 4vw;
    }

    #relatorio-suporte div.card {
        width: 80vw;
        left: 50%;
        transform: translateX(-50%);
    }

    a#botaoEnviarDados {
        font-size: 4vw;
        transform: translateX(12vw);
    }

    div#login {
        width: 90vw;
        margin: 0 auto;
    }

    div#login button {
        width: 80vw;
    }
}

@media (max-width: 440px)
{
    header > div#zago-planner a {
        width: 100%;
        text-align: center;
        justify-content: center;
    }

    h1#zago {
        margin-right: 10px;
    }

    header > div#zago-planner a {
        font-size: 70%;
    }

    header > div#zago-planner {
        justify-content: center;
    }
}

@media (max-width: 360px)
{
    div#container3 {
        padding: 0;
    }

    div#container3 h1 {
        font-size: 140%;
    }
}

@media (max-width: 300px)
{
    /* Body */

    body.body {
        position: fixed;
    }

    /* Header */

    #zago-planner {
        width: auto;
        height: auto;
    }

    header > div#zago-planner > a {
        font-size: 50%;
        justify-content: center;
    }

    div#div-usuario {
        right: 5px;
    }

    div#div-usuario img {
        height: 40px;
        width: 40px;
    }

    div#div-usuario img:hover {
        height: 44px;
        width: 44px;
    }

    h1#zago {
        margin-right: 5px;
    }

    /* Main */

    main.main-flex {
        justify-content: unset;
    }

    div.funcao {
        margin: 0;
    }

    section a {
        height: 100%;
    }

    /* Container 1 */

    section#criar-projeto h1 {
        margin-top: 0px;
    }

    section#criar-projeto {
        height: 33%;
    }

    section#criar-projeto div {
        height: 70%;
        margin-top: 15px;
    }

    section#criar-projeto {
        flex-direction: column-reverse;
    }

    div#container1 {
        height: 75%;
    }

    div#container1 h1, div#container2 h1 {
        font-size: 130%;
    }

    /* Container 2 */

    div#container2 {
        height: 25%;
    }

    section#outros-projetos a img {
        height: auto;
        width: 50%;
    }

    section#meus-projetos a img {
        height: auto;
        width: 50%;
    }

    /* Container 3 */

    div#container3 {
        display: flex;
        flex-direction: column;
        height: 66%;
        padding: 0px;
    }

    div#container3 div {
        height: 50%;
    }

    div#container3 section {
        width: 100%;
    }

    section#produtos-zago a img {
        height: 90%;
        width: auto;
    }

    section#produtos-zago div {
        margin: 0 auto;
        width: 90%;
    }

    /* Menu Oculto */
    .nav-menu .menu-simbolo {
        width: 30px;
        height: 30px;
        left: 15px;
    }

    #falsa-checkbox {
        width: 30px;
        height: 30px;
        left: 15px;
    }

    .nav-menu .menu-simbolo span {
        width: 30px;
        height: 4px;
    }

    .margin-top-25px {
        margin-top: 30px;
    }

    input#falsa-checkbox:checked ~ .menu-simbolo span:nth-child(1) {
        transform-origin: 0% 0%;
        transform: rotate(45deg) scaleX(1.35);
    }
    
    input#falsa-checkbox:checked ~ .menu-simbolo span:nth-child(2) {
        background-color: var(--transparente);
    }
    
    input#falsa-checkbox:checked ~ .menu-simbolo span:nth-child(3) {
        transform-origin: 0% 100%;
        transform: rotate(-45deg) scaleX(1.35);
    }

    .nav-menu ul {
        width: 65%;
    }

    .nav-menu ul li a {
        font-size: 110%;
    }

    .nav-menu ul li a:hover {
        font-size: 130%;
    }

    /* Outras  Páginas */

    body#outros-projetos-body main {
        overflow-y: visible;
        width: 100vw;
        height: 100%;
    }

    html#html-produtos {
        overflow-x: hidden;
    }

    body#body-produtos {
        overflow-y: visible;
        overflow-x: hidden;
        width: 110%;
        position: inherit;
    }

    body#body-produtos main {
        width: 100vw;
    }

    div.div-produto {
        width: 90%;
        margin: 0 auto;
        margin-bottom: 30px;
    }

    a.btn {
        height: 36px;
        padding: 5px;
    }
}