html,
body {
    height: 100%;
    display: flex;
    flex-direction: column;
} 

footer {
    margin-top: auto;
} 

#cabecalho {
    color: white;
}

#apresentacao {
    background: url('img/desk-coworking.jpg') no-repeat;
    background-position: 75% 75%;
    color: white;
    height: 70%;

    #conteudoSection1 {
        display: flex;
        background: rgba(0, 0, 0, 0.8);
    }
}

#carrossel {
    height: 60%;

    .carousel {
        height: 100%;
        overflow: hidden;
    }

    .carousel-inner {
        height: 100%;
    }

    .carousel-item {
        height: 100%;
    }
}



#inscricao {
    background: url('img/happy-friendsd.jpg') no-repeat;
    background-size: cover;
    background-position: 75% 60%;

    .container {
        background: rgba(0, 0, 0, 0.5);
        color: white;
    }
}

footer {
    color: white;
}

@media screen and (max-width : 900px) {
    #apresentacao {
        height: auto;
    }
} 

@media screen and (max-width : 1280px) {
    #carrossel {
        height: auto;
    }
}


